<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.arnolds.agileappproject.agileappmodule" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_arnold"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity
            android:name="org.arnolds.agileappproject.agileappmodule.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <service
            android:name="org.arnolds.agileappproject.agileappmodule.auth.GitHubAuthenticatorService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="org.arnolds.agileappproject.agileappmodule.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>

        <activity
            android:name="org.arnolds.agileappproject.agileappmodule.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

</manifest>

